/*@import 'https://fonts.googleapis.com/css?family=VT323';*/

granasat-Terminal {
    height: 50%;
    width : 100%;
    margin: 0;
    padding: 5px;
    list-style: none;
    background: #FFFFFF;
    /*color: #45D40C;*/
    /*font-family: 'VT323', monospace;*/
    line-height: 1.6em;
}
granasat-Terminal h1, p {
    /*margin: 0.5rem 0;*/
}
granasat-Terminal h1 {
    /*font-family: 'VT323', monospace;*/
    /*font-weight: normal;*/
}
granasat-Terminal a {
    color: #4078c0;
}
granasat-Terminal a:not(:hover) {
    text-decoration: none;
}
#term {
    font-family: 'VT323', monospace;
}
granasat-Terminal code {
    font-family: inherit;
    padding: 0.1em 0.2em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0.1em;
}
granasat-Terminal .simple-console {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 600px;
    /*font-family: sans-serif;*/
}
granasat-Terminal .simple-console-output {
    overflow: auto;
}
granasat-Terminal .simple-console-output, granasat-Terminal .simple-console-input-wrapper {
    flex: 0;
    flex-basis: auto;
}
granasat-Terminal .simple-console-input-wrapper {
    display: flex;
    flex-shrink: 0;
}
granasat-Terminal .simple-console-input {
    /*font-family: 'VT323', monospace;*/
    flex: 1;
    font-size: inherit;
    height: 1em;
    color: inherit;
    background: transparent;
    border: 0;
    box-shadow: 0 1px 0 transparent;
    height: 17px;
}
granasat-Terminal .simple-console-input:focus {
    outline: 0;
    /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
}
granasat-Terminal .simple-console-input-wrapper button {
    margin-left: 0.2rem;
    background: transparent;
    color: inherit;
    border: 0;
    padding: 0;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
granasat-Terminal .simple-console-input-wrapper button svg {
    width: 1em;
    height: 1em;
    pointer-events: none;
}
granasat-Terminal .simple-console-input-wrapper button {
    outline: 0;
}
granasat-Terminal .simple-console-input-wrapper button:hover, granasat-Terminal .simple-console-input-wrapper button:focus {
    color: #4078c0;
}
granasat-Terminal .dark .simple-console-input-wrapper button:hover, granasat-Terminal .dark .simple-console-input-wrapper button:focus {
    color: #007CFF;
}
granasat-Terminal .simple-console-input-wrapper button:active {
    opacity: 0.8;
}
granasat-Terminal .simple-console-input-wrapper .popup-menu {
    position: absolute;
    right: 0;
    margin: 0.5em;
    margin-top: 1.5em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0.2em;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
granasat-Terminal @media (max-width: 52em) {
    .simple-console-input-wrapper .popup-menu {
        min-width: 0;
        left: 0;
    }
}
granasat-Terminal .popup-menu[aria-hidden="true"] {
    display: none;
}
granasat-Terminal .popup-menu .menu-item:first-child {
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}
granasat-Terminal .popup-menu .menu-item:last-child {
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}
granasat-Terminal .menu-divider {
    border: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin: 0.3em 0;
}
granasat-Terminal .popup-menu .menu-item {
    padding: 0.25rem 0.5rem;
}
granasat-Terminal .popup-menu .menu-item:hover {
    background: rgba(128, 128, 128, 0.1);
}
granasat-Terminal .popup-menu .menu-item:focus, granasat-Terminal .popup-menu .menu-item:active {
    background: #4078c0;
    color: white;
    outline: 0;
}
granasat-Terminal .simple-console-input-wrapper, granasat-Terminal .entry {
    padding: 0.25rem 0.5rem;
    padding-left: 1rem;
    /* = A */
    position: relative;
}
granasat-Terminal .input-chevron {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1rem;
    /* = A */
    display: flex;
    align-items: center;
    justify-content: center;
}
granasat-Terminal .entry.input {
    color: gray;
}
granasat-Terminal .error {
    color: #A00;
    background: #FFF5F5;
}
granasat-Terminal .dark .error {
    color: #A00;
    background: rgba(255, 0, 0, 0.15);
}
granasat-Terminal .warning {
    color: #8a6300;
    background: rgba(255, 230, 0, 0.24);
}
granasat-Terminal .dark .warning {
    color: #ffdc46;
    background: rgba(255, 171, 0, 0.2);
}
granasat-Terminal .info {
    color: rgb(0, 89, 148);
    background: rgba(0, 136, 255, 0.17);
}
granasat-Terminal .dark .info {
    color: rgb(98, 155, 193);
    background: rgba(0, 136, 255, 0.17);
}
granasat-Terminal .light, granasat-Terminal .light .popup-menu {
    background: white;
    color: black;
}
granasat-Terminal .dark, granasat-Terminal .dark .popup-menu {
    background: black;
    color: white;
}
granasat-Terminal .dark .simple-console-input:focus {
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);*/
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0);
}
granasat-Terminal .dark::-webkit-input-placeholder {
    color: #555;
}
granasat-Terminal .dark:-moz-placeholder {
    /* Firefox 18- */
    color: #555;
}
granasat-Terminal .dark::-moz-placeholder {
    /* Firefox 19+ */
    color: #555;
}
granasat-Terminal .dark:-ms-input-placeholder {
    color: #555;
}
