<div class='page-header'>
    <h1>Satellites <button ng-click="addSatModal()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h1>
</div>

<div class="page-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="sat in availableSatellites">
                <td ng-click="sat.expanded = !sat.expanded">{{sat.RMT_NAME}}</td>
                <td ng-click="sat.expanded = !sat.expanded">{{sat.RMT_DESC}}</td>
                <td><button ng-click="modSatModal(sat)" type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    <button ng-click="delSat(sat)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
            </tr>
            <tr ng-repeat-end  ng-show="sat.expanded">
                <td colspan="6" style="padding: 0" >
                    <div class="isCollapsed">
                        <table class="table table-hover">
                            <thead>
                            <th>RX Frequency</th>
                            <th>TX Frequency</th>
                            <th>Status</th>
                            <th>TLE1</th>
                            <th>TLE2</th>
                            <th>URL</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{sat.RMT_RX_FREQ}}</td>
                                <td>{{sat.RMT_TX_FREQ}}</td>
                                <td>{{sat.RMT_STATUS}}</td>
                                <td>{{sat.SAT_TLE1}}</td>
                                <td>{{sat.SAT_TLE2}}</td>
                                <td>{{sat.SAT_TLE_URL}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/ng-template" id="addSatModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Satellite</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="sat_name">Name</label>
                <input ng-model="sat_name" type="text" class="form-control" id="sat_name">
            </div>
            <div class="form-group">
                <label for="sat_desc">Description</label>
                <textarea ng-model="sat_desc" class="form-control" rows="3" id="sat_desc"></textarea>
            </div>
            <div class="form-group">
                <label for="sat_rx">RX Frequency</label>
                <input ng-model="sat_rx" type="text" class="form-control" id="sat_rx">
            </div>
            <div class="form-group">
                <label for="sat_tx">TX Frequency</label>
                <input ng-model="sat_tx" type="text" class="form-control" id="sat_tx">
            </div>
            <div class="form-group">
                <label>Status</label>
                <label><input ng-model="sat_status" value="Active" type="radio" name="status">Active</label>
                <label><input ng-model="sat_status" value="Disable" type="radio" name="status">Disable</label>
                <label><input ng-model="sat_status" value="Unknown" type="radio" name="status">Unknown</label>
            </div>
            <div class="form-group">
                <label for="sat_tle1">TLE1</label>
                <input ng-model="sat_tle1" type="text" class="form-control" id="sat_tle1">
            </div>
            <div class="form-group">
                <label for="sat_tle2">TLE2</label>
                <input ng-model="sat_tle2" type="text" class="form-control" id="sat_tle2">
            </div>
            <div class="form-group">
                <label for="sat_url">URL</label>
                <input ng-model="sat_url" type="text" class="form-control" id="sat_url">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="add()">Add</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
