/**
 *
 * Created by: Antonio Serrano (github.com/antserran)
 *
 *
 */

#myProgress {
    height: 5px;
}

#swr{
    background-color: green;
}

#s-meters {
    background-color: green;
}

#alc {
    background-color: green;
}
