<div class='page-header'>
    <div class="row">
        <div class='col-md-2 hidden-sm hidden-xs'>
            <img class="img-responsive" src="images/icom9100.png">
        </div>

        <div class='col-md-10 col-sm-12 col-xs-12'>
            <h1>ICOM 9100 <small>RadioStation</small></h1> 

        </div>
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class='col-md-4'>
            <canvas id="VFOA" height="40">
        </div>
    </div>
</div>

<div>
    <button ng-click="setFreqModal()" type="button" class="btn btn-primary">Set Frequency</button>
</div>


<script type="text/ng-template" id="setFreqModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Set Frequency</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="AFreq">A Freq</label>
                <input ng-model="AFreq" type="text" class="form-control" id="AFreq" placeholder="14500000">
            </div>
            <div class="form-group">
                <label for="BFreq">B Freq</label>
                <input ng-model="BFreq" type="text" class="form-control" id="BFreq" placeholder="14500000">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="set()">Set</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
