<tr ng-click="root.web.expanded = !root.web.expanded">
    <td>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="!root.web.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 19px;">&nbsp;</span></a>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="root.web.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 19px;">&nbsp;</span></a>
        Web
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.web.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.web.host}}>
        <span class="glyphicon glyphicon-tasks" style="padding-left: 38px;" ></span> Web Host
    </td>

    <td ng-show="!root.web.web_host.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.web.web_host.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.web_host}}</a>
    </td>

    <td ng-show="root.web.web_host.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.web.web_host.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.web_host" type="text" class="form-control" id="root.web.web_host">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.web.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.web.port}}>
        <span class="glyphicon glyphicon-tasks" style="padding-left: 38px;" ></span> Web Port
    </td>

    <td ng-show="!root.web.web_port.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.web.web_port.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.web_port}}</a>
    </td>

    <td ng-show="root.web.web_port.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.web.web_port.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.web_port" type="text" class="form-control" id="root.web.web_port">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>