<tr ng-click="root.ic.expanded = !root.ic.expanded">
    <td>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ic.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 19px;">&nbsp;</span></a>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ic.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 19px;">&nbsp;</span></a>
        IC910
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.ic.expanded" ng-click="root.ic.radio.expanded = !root.ic.radio.expanded">
    <td>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ic.radio.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 38px;">&nbsp;</span></a>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ic.radio.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 38px;">&nbsp;</span></a>
        <img src="../../images/icons/radio.png" height="20px" data-toggle="tooltip" title={{R.radio}} /> Radio
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

    <tr ng-show="root.ic.expanded && root.ic.radio.expanded">
        <td>
            <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 57px;"  data-toggle="tooltip" title={{R.freq}}></span> f [Hz]
        </td>
        <td>435423463</td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

    <tr ng-show="root.ic.expanded && root.ic.radio.expanded">
        <td>
            <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 57px;"  data-toggle="tooltip" title={{R.rf_pw}}></span> RF power [%]
        </td>
        <td>0</td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

    <tr ng-show="root.ic.expanded && root.ic.radio.expanded" ng-click="root.ic.radio.connection.expanded = !root.ic.radio.connection.expanded">
        <td>
            <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ic.radio.connection.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 57px;">&nbsp;</span></a>
            <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ic.radio.connection.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 57px;">&nbsp;</span></a>
            <span class="glyphicon glyphicon-cog"  data-toggle="tooltip" title={{R.connection}}></span> Connection
        </td>
        <td></td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

        <tr ng-show="root.ic.expanded && root.ic.radio.expanded && root.ic.radio.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 76px;"  data-toggle="tooltip" title={{R.from_addr}}></span> From address [dec]
            </td>
            <td>224</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.radio.expanded && root.ic.radio.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 76px;" data-toggle="tooltip" title={{R.to_addr}}></span> To address [dec]
            </td>
            <td>96</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.radio.expanded && root.ic.radio.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 76px;" data-toggle="tooltip" title={{R.timeout}}></span> Timeout [ms]
            </td>
            <td>300</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.radio.expanded && root.ic.radio.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 76px;" data-toggle="tooltip" title={{R.delay}}></span> Delay between commands [ms]
            </td>
            <td>50</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.radio.expanded && root.ic.radio.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-sound-5-1" style="padding-left: 76px;" data-toggle="tooltip" title={{R.repeats}}></span> Repeats
            </td>
            <td>3</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>


<tr ng-show="root.ic.expanded" ng-click="root.ic.serial.expanded = !root.ic.serial.expanded">
    <td>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ic.serial.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 38px;">&nbsp;</span></a>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ic.serial.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 38px;">&nbsp;</span></a>
        <img src="../../images/icons/plug.png" height="25px" data-toggle="tooltip" title={{R.serial_radio}} /> Serial Radio
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

    <tr ng-show="root.ic.expanded && root.ic.serial.expanded">
        <td>
            <span class="glyphicon glyphicon-edit" style="padding-left: 57px;" data-toggle="tooltip" title={{R.debug_on_send}}></span> Debug on send
        </td>
        <td><input id="checkBox" type="checkbox"></td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

    <tr ng-show="root.ic.expanded && root.ic.serial.expanded">
        <td>
            <span class="glyphicon glyphicon-list-alt" style="padding-left: 57px;" data-toggle="tooltip" title={{R.debug}}></span> Debug
        </td>
        <td>None</td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

    <tr ng-show="root.ic.expanded && root.ic.serial.expanded">
        <td>
            <span class="glyphicon glyphicon-list-alt" style="padding-left: 57px;" data-toggle="tooltip" title={{R.port_name}}></span> Port Name
        </td>
        <td>ttyUSB0</td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

    <tr ng-show="root.ic.expanded && root.ic.serial.expanded">
        <td>
            <span class="glyphicon glyphicon-list-alt" style="padding-left: 57px;" data-toggle="tooltip" title={{R.provider}}></span> Provider
        </td>
        <td>SerialConn</td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

    <tr ng-show="root.ic.expanded && root.ic.serial.expanded" ng-click="root.ic.serial.connection.expanded = !root.ic.serial.connection.expanded">
        <td>
            <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ic.serial.connection.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 57px;">&nbsp;</span></a>
            <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ic.serial.connection.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 57px;">&nbsp;</span></a>
            <span class="glyphicon glyphicon-cog" data-toggle="tooltip" title={{R.conn}}></span> Connection
        </td>
        <td></td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-list-alt" style="padding-left: 76px;" data-toggle="tooltip" title={{R.baud_rate}}></span> Baud Rate
            </td>
            <td>9600</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-list-alt" style="padding-left: 76px;" data-toggle="tooltip" title={{R.data_bits}}></span> Data Bits
            </td>
            <td>8</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-list-alt" style="padding-left: 76px;" data-toggle="tooltip" title={{R.stop_bits}}></span> Stop bits
            </td>
            <td>1.0</td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.connection.expanded">
            <td>
                <span class="glyphicon glyphicon-edit" style="padding-left: 76px;" data-toggle="tooltip" title={{R.disable_on_broken_serial}}></span> Disable on broken serial
            </td>
            <td><input id="brokenSerial" type="checkbox"></td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

    <tr ng-show="root.ic.expanded && root.ic.serial.expanded" ng-click="root.ic.serial.command.expanded = !root.ic.serial.command.expanded">
        <td>
            <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ic.serial.command.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 57px;">&nbsp;</span></a>
            <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ic.serial.command.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 57px;">&nbsp;</span></a>
            <span class="glyphicon glyphicon-console" data-toggle="tooltip" title={{R.commands}}></span> Commands
        </td>
        <td></td>
        <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
        <td></td>
    </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.command.expanded">
            <td>
                <span class="glyphicon glyphicon-console" style="padding-left: 76px;" data-toggle="tooltip" title={{R.send}}></span> Send
            </td>
            <td><span class="glyphicon glyphicon-play" style="padding-left: 76px;"></span></td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.command.expanded">
            <td>
                <span class="glyphicon glyphicon-console" style="padding-left: 76px;" data-toggle="tooltip" title={{R.send_bits}}></span> Send bits
            </td>
            <td><span class="glyphicon glyphicon-play" style="padding-left: 76px;"></span></td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

        <tr ng-show="root.ic.expanded && root.ic.serial.expanded && root.ic.serial.command.expanded">
            <td>
                <span class="glyphicon glyphicon-console" style="padding-left: 76px;" data-toggle="tooltip" title={{R.send_hex}}></span> Send hex
            </td>
            <td><span class="glyphicon glyphicon-play" style="padding-left: 76px;"></span></td>
            <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
            <td></td>
        </tr>

