<tr ng-click="root.scripts.expanded = !root.scripts.expanded">
    <td>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="!root.scripts.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 19px;">&nbsp;</span></a>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="root.scripts.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 19px;">&nbsp;</span></a>
        Scripts
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded" ng-click="root.scripts.update_library.expanded = !root.scripts.update_library.expanded">
    <td>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="!root.scripts.update_library.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 38px;">&nbsp;</span></a>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="root.scripts.update_library.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 38px;">&nbsp;</span></a>
        Update Library (Python)
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.library}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Script path
    </td>

    <td ng-show="!root.scripts.update_library.library.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.library.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_library}}</a>
    </td>

    <td ng-show="root.scripts.update_library.library.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.library.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_library" type="text" class="form-control" id="root.scripts.update_library.library">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.dest}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Destination path
    </td>

    <td ng-show="!root.scripts.update_library.library_dest.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.library_dest.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_library_dest}}</a>
    </td>

    <td ng-show="root.scripts.update_library.library_dest.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.library_dest.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_library_dest" type="text" class="form-control" id="root.scripts.update_library.library_dest">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>


<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.cache_dir}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Caché path
    </td>

    <td ng-show="!root.scripts.update_library.cache_dir.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.cache_dir.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_cache_dir}}</a>
    </td>

    <td ng-show="root.scripts.update_library.cache_dir.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.cache_dir.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_cache_dir" type="text" class="form-control" id="root.scripts.update_library.cache_dir">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.trsp_file}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Trsp path
    </td>

    <td ng-show="!root.scripts.update_library.trsp_file.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.trsp_file.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_trsp_file}}</a>
    </td>

    <td ng-show="root.scripts.update_library.trsp_file.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.trsp_file.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_trsp_file" type="text" class="form-control" id="root.scripts.update_library.trsp_file">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.modes_file}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Modes File
    </td>

    <td ng-show="!root.scripts.update_library.modes_file.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.modes_file.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_modes_file}}</a>
    </td>

    <td ng-show="root.scripts.update_library.modes_file.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.modes_file.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_modes_file" type="text" class="form-control" id="root.scripts.update_library.modes_file">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.satnogs_trsp_url}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Satnogs trsp URL
    </td>

    <td ng-show="!root.scripts.update_library.satnogs_trsp_url.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.satnogs_trsp_url.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_satnogs_trsp_url}}</a>
    </td>

    <td ng-show="root.scripts.update_library.satnogs_trsp_url.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.satnogs_trsp_url.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_satnogs_trsp_url" type="text" class="form-control" id="root.scripts.update_library.satnogs_trsp_url">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.satnogs_modes_url}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Satnogs modes URL
    </td>

    <td ng-show="!root.scripts.update_library.satnogs_modes_url.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.satnogs_modes_url.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_satnogs_modes_url}}</a>
    </td>

    <td ng-show="root.scripts.update_library.satnogs_modes_url.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.satnogs_modes_url.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_satnogs_modes_url" type="text" class="form-control" id="root.scripts.update_library.satnogs_modes_url">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>


<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.baseurl}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Celestrak base URL
    </td>

    <td ng-show="!root.scripts.update_library.baseurl.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.baseurl.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_baseurl}}</a>
    </td>

    <td ng-show="root.scripts.update_library.baseurl.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.baseurl.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_baseurl" type="text" class="form-control" id="root.scripts.update_library.baseurl">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.linesneeded}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Lines needed
    </td>

    <td ng-show="!root.scripts.update_library.linesneeded.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.linesneeded.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_linesneeded}}</a>
    </td>

    <td ng-show="root.scripts.update_library.linesneeded.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.linesneeded.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_linesneeded" type="text" class="form-control" id="root.scripts.update_library.linesneeded">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.result_file}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Result file
    </td>

    <td ng-show="!root.scripts.update_library.result_file.edit">
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="root.scripts.update_library.result_file.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.scripts_update_result_file}}</a>
    </td>

    <td ng-show="root.scripts.update_library.result_file.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.scripts.update_library.result_file.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.scripts_update_result_file" type="text" class="form-control" id="root.scripts.update_library.result_file">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.scripts.expanded && root.scripts.update_library.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.scripts.run}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 57px;" ></span> Run script
    </td>

    <td>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="!root.scripts.update_library.runnning" ng-click="updateLibrary()" class="glyphicon glyphicon-play" data-toggle="tooltip" title="Edit"></span></a>
        <a href="" style="color: inherit; text-decoration: inherit"><span ng-show="root.scripts.update_library.runnning" class="glyphicon glyphicon-pause" data-toggle="tooltip" title="Edit"></span></a>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>