<tr ng-click="root.ground.expanded = !root.ground.expanded">
    <td>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="!root.ground.expanded" class="glyphicon glyphicon-chevron-right" style="padding-left: 19px;">&nbsp;</span></a>
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-show="root.ground.expanded" class="glyphicon glyphicon-chevron-down" style="padding-left: 19px;">&nbsp;</span></a>
        Ground
    </td>
    <td></td>
    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.ground.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.ground.location}}>
        <span class="glyphicon glyphicon-map-marker" style="padding-left: 38px;"  ></span> Location
    </td>

    <td ng-show="!root.ground.location.edit">
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="root.ground.location.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.ground_location}}</a>
    </td>

    <td ng-show="root.ground.location.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.ground.location.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.ground_location" type="text" class="form-control" id="root.ground.location">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.ground.expanded">
    <td  data-toggle="tooltip" title={{mainTooltips.confTree.ground.lat}}>
        <span class="glyphicon glyphicon-screenshot" style="padding-left: 38px;" ></span> Latitude
    </td>

    <td ng-show="!root.ground.lat.edit">
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="root.ground.lat.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.ground_station_lat}}</a>
    </td>

    <td ng-show="root.ground.lat.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.ground.lat.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.ground_station_lat" type="text" class="form-control" id="root.ground.lat">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.ground.expanded">
    <td  data-toggle="tooltip" title={{mainTooltips.confTree.ground.lng}}>
        <span class="glyphicon glyphicon-screenshot" style="padding-left: 38px;" ></span> Longitude
    </td>

    <td ng-show="!root.ground.lng.edit">
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="root.ground.lng.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.ground_station_lng}}</a>
    </td>

    <td ng-show="root.ground.lng.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.ground.lng.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.ground_station_lng" type="text" class="form-control" id="root.ground.lng">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>

<tr ng-show="root.ground.expanded">
    <td data-toggle="tooltip" title={{mainTooltips.confTree.ground.alt}}>
        <span class="glyphicon glyphicon-screenshot" style="padding-left: 38px;"  ></span> Altitude
    </td>

    <td ng-show="!root.ground.alt.edit">
        <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="root.ground.alt.edit = true" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> {{config.ground_station_alt}}</a>
    </td>

    <td ng-show="root.ground.alt.edit">
        <form class="form-inline">
            <div class="form-group">
                <a href="#" style="color: inherit; text-decoration: inherit"><span ng-click="updateConf(); root.ground.alt.edit = false" class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Edit"></span></a>
                <input ng-model="config.ground_station_alt" type="text" class="form-control" id="root.ground.alt">
            </div>
        </form>
    </td>

    <td><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
    <td></td>
</tr>