<!DOCTYPE html>
<html lang="en">

<head>
    <title>GranaSAT Dashboard</title>
    <link rel="icon" href="images/favicon.ico" />

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />

    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

    <script src="../bower_components/SegmentDisplay/segment-display.js"></script>


    <script src="directives/granaSATterminal/simple-console-nolog.js"></script>
    <link rel="stylesheet" href="directives/granaSATterminal/simple-console.css">

    <script src="mainController.js"></script>


    <script src="directives/granaSATterminal/terminalDirective.js"></script>
    <script src="directives/radioKenwoodTS2000/radioKenwoodTS2000.js"></script>
    <script src="directives/radioicom9100/radioicom9100.js"></script>
    <script src="directives/rotorsYaesu/rotorsYaesu.js"></script>
    <script src="directives/webcamVideo/webcamVideo.js"></script>




</head>


<body ng-app="myApp" ng-controller="appController" style="padding-top: 50px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="selectedTab = 0">GranaSAT Dashboard</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul ng-show="logged" class="nav navbar-nav">
                    <li ng-click="selectedTab = 1" ng-class="{'active': selectedTab == 1}"><a>Rotors</a></li>
                    <li ng-click="selectedTab = 2" ng-class="{'active': selectedTab == 2}"><a>Antennas</a></li>
                    <li ng-click="selectedTab = 3" ng-class="{'active': selectedTab == 3}"><a>Terminal</a></li>
                    <li ng-click="selectedTab = 4" ng-class="{'active': selectedTab == 4}"><a>Management</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="videoShow=!videoShow"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
                    <li><a href="granasat.github.com">GitHub</a></li>
                    <li><a href="www.granasat.ugr.es">WebPage</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">...</a></li>
                            <li><a href="#">Configuration</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="logged=true"><a>Login</a></li>
                            <li ng-click="logged=false"><a>Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- <radio-kenwoodts2000 ng-show="selectedTab == 2"> </radio-kenwoodts2000> -->
        <rotors-yaesu ng-show="selectedTab == 1"> </rotors-yaesu>
        <radio-icom9100 ng-show="selectedTab == 2"> </radio-icom9100>
        <granasat-Terminal ng-show="selectedTab == 3"> </granasat-Terminal>
        <webcam-video ng-show="videoShow == true && selectedTab != 0"> </webcam-video>

        <div ng-show="selectedTab == 1">
            <div class='page-header'>
                <h1>Welcome to GranaSAT Ground Station</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-responsive" src="images/icom9100.jpg">
                            </div>
                            <div class="col-md-6">
                                <h2>RadioStation <small>ICOM 9100</small></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                Antenna image
                            </div>
                            <div class="col-md-6">
                                <h2>Rotors <small>Yaeso</small></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" style="-webkit-user-select: none" src="http://granasat.ugr.es:9091/">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
