<div class='page-header'>
    <h1>Satellite Passes</h1>
</div>

<div class="page-body">

    <div class="col-md-2">
        <h4>Available Satellites</h4>

        <ul>
            <li ng-repeat="s in availableSatellites"><a ng-click="satelliteSelected = s">{{s.RMT_NAME}}</a></li>
        </ul>
    </div>
    <div ng-show="satelliteSelected != ''" class="col-md-10">
        <h4>Passes for: {{satelliteSelected.RMT_NAME}}</h4>

        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Max Elevation</th>
                    <th>Remain time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pass in satellitePasses">
                    <td>{{pass.startDateUTC}}</td>
                    <td>{{pass.endDateUTC}}</td>
                    <td>{{pass.duration/1000}} s</td>
                    <td>{{pass.maxElevation}}º</td>
                    <td>{{pass.remainTime | millSecondsToTimeString}}</td>
                    <td>
                        <button ng-click="setPass(pass)" type="button" class="btn btn-success btn-xs">
                            Schedule
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
