<div class='page-header'>
    <h1>Satellite Passes</h1>
</div>

<div class="page-body">

    <div class="col-md-2">
        <h4>Available Satellites</h4>

        <ul>
            <li ng-repeat="s in availableSatellites"><a ng-click="getPasses(s)">{{s.RMT_NAME}}</a></li>
        </ul>
    </div>
    <div ng-show="satelliteSelected != ''" class="col-md-10">
        <h4>Passes for: {{satelliteSelected.RMT_NAME}}</h4>

        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Max Elevation</th>
                    <th>Remain time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="pass in satellitePasses">
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{(localTimeMode) ? pass.startDateLocal : pass.startDateUTC.toUTCString()}}</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{(localTimeMode) ? pass.endDateLocal : pass.endDateUTC}}</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{pass.duration | millSecondsToTimeString}}</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{pass.maxElevation}}º</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{pass.remainTime | millSecondsToTimeString}}</td>
                    <td>
                        <button ng-click="setPass(pass)" type="button" class="btn btn-success btn-xs">
                            Schedule
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end="" ng-if="pass.expanded">
                    <td colspan="6" style="padding: 0">
                        <div class="isCollapsed">
                            <div class="col-md-7">
                                <d3-bars data="d3Data" label="title"></d3-bars>
                            </div>
                            <div style="margin-top: 16px" class="col-md-3">
                                ADS Ac: {{pass.data[0].azi.toFixed(2)}}º        <br>
                                PDS Ac: {{pass.data[pass.data.length - 1].azi.toFixed(2)}}º        <br>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- <div uib-collapse="pass.collapse">
                    <div class="well well-lg">Some content</div>
                </div> -->

            </tbody>
        </table>
    </div>

</div>
