<div class='page-header'>
    <h1>Satellite Passes</h1>
</div>

<div class="page-body">

    <div class="col-md-2">
        <h4>Available Satellites</h4>

        <ul>
            <li ng-repeat="s in passes"><a href="#" ng-click="getPasses(s)">{{s.SAT_NAME}}</a></li>
        </ul>
    </div>
    <div ng-show="satelliteSelected != ''" class="col-md-10">
        <h4>Passes for: {{satelliteSelected.SAT_NAME}}</h4>

        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Max Elevation</th>
                    <th>Remain time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="pass in satelliteSelected.pass">
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{(localTimeMode) ? pass.startDateLocal : pass.startDateUTC}}</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{(localTimeMode) ? pass.endDateLocal : pass.endDateUTC}}</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{pass.duration | millSecondsToTimeString}}</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{pass.maxElevation}}º</td>
                    <td ng-click="pass.expanded = !pass.expanded; selectedItem =$index">{{pass.remainTime | millSecondsToTimeString}}</td>
                    <td>
                        <div class="dropdown">
                            <button ng-show="pass.scheduled" type="button" class="btn btn-danger btn-xs disabled">
                                Schedule
                            </button>


                            <button ng-show="!pass.scheduled" type="button" class="btn btn-success dropdown-toggle btn-xs" id="select_trsp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Schedule
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="select_trsp">
                                <li ng-repeat="trsp in satelliteSelected.rmt"><a href="#" ng-click="setPass(pass, trsp)">{{trsp.RMT_DESC}} ({{trsp.RMT_DOWNLINK_LOW/1.0E6}})</a></li> <!-- AmRoldan Frecuencia-->
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat-end="" ng-if="pass.expanded">
                    <td colspan="6" style="padding: 0">
                        <div class="isCollapsed">
                            <div class="col-md-7">
                                <d3-bars data="d3Data" label="title" ng-mousemove="coordsMove($event)"></d3-bars>
                            </div>
                            <div style="margin-top: 16px" class="col-md-5">
                                ADS Ac: {{pass.data[0].azi.toFixed(2)}}º        <br>
                                PDS Ac: {{pass.data[pass.data.length - 1].azi.toFixed(2)}}º        <br>
                                From : {{config.ground_location}} <br>
                                Latitude : {{config.ground_station_lat}} <br>
                                Longitude : {{config.ground_station_lng}} <br>
                                Altitude : {{config.ground_station_alt}} <br>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
