<div class='page-header clearfix'>
    <div class="row">
        <div class='col-md-2 hidden-sm hidden-xs'>
            <img class="img-responsive" src="images/yaesu.png">
        </div>

        <div class='col-md-10 col-sm-12 col-xs-12'>

            <h1>
                Yaesu 5500 <small>Rotors</small>
            <a class="btn btn-default pull-right" ng-click="mobileEnabled=!mobileEnabled">
                <i class="fa fa-compass"></i>
            </a>
            </h1>

        </div>
    </div>
</div>

<div class="page-body">
    Elevation: <b>{{yaesuPosition.ele}}º</b>
    <br> Azimuth: <b>{{yaesuPosition.azi}}º</b>
</div>

<div>
    <button ng-click="goToOrigin()" type="button" class="btn btn-success">Go to Origin</button>
    <button ng-click="setPositionModal()" type="button" class="btn btn-primary">Move</button>
</div>


<script type="text/ng-template" id="setPositionModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Move rotors</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="Azimuth">Azimuth</label>
                <input ng-model="azimuth" type="text" class="form-control" id="azimuth" placeholder="000">
            </div>
            <div class="form-group">
                <label for="Elevation">Elevation</label>
                <input ng-model="elevation" type="text" class="form-control" id="elevation" placeholder="000">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="move()">Move</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
